header {
    height: 10vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

header ul {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

header li {
    text-decoration: none;
    list-style: none;
}

header a {
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-weight: 100;
    transition: .3s;
}

header a:hover {
    color: var(--verde-logo);
}

.plano {
    padding: 12px;
    background-color: var(--verde-logo);
    border-radius: 15px;
    color: var(--background);
}

.plano:hover {
    background-color: var(--verde-escuro);
    color: #000;
}

.mobile-menu-icon{
    display: none;
}

.mobile-menu{
    display: none;
}

@media (max-width: 1291px) {
    .mobile-menu-icon {
        display: block;
    }

    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        padding-top: 10px;
    }

    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 16px;
        border-top: 2px solid var(--verde-escuro);
    }

    .mobile-menu .menu-item {
        display: block;
        padding-top: 16px ;
    }

    .open {
        display:block ;
    }

    .menu-desktop {
        display: none;
    }
}